body {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

i {
  margin-right: 5px;
}

input {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

header {
  background-color: #1e1e1e;
}

.top-bar {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #ffa500;
  transition: 0.3s;
}

.nav a:hover {
  color: #c88200;
}

.user-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-options a {
  text-decoration: none;
  color: white;
}

.user-options input[type="text"] {
  padding: 8px;
  border: 2px solid #ffa500;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.product-details {
  display: flex;
  gap: 40px;
}

.product-gallery {
  flex: 1;
}
.product-gallery img {
  width: 100%;
  border-radius: 10px;
}

.gallery-thumbnails {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.gallery-thumbnails img {
  width: 60px;
  cursor: pointer;
  border: 2px solid transparent;
}
.gallery-thumbnails img:hover {
  border: 2px solid #ffa500;
}

.product-info {
  flex: 1;
}

.product-info h2 {
  font-size: 2.5rem;
  color: #e1e1e1;
  margin: 10px 0;
}

.product-path,
.product-code {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.price {
  font-size: 2rem;
  color: #ffa500;
  margin: 10px 0;
}

.rating {
  color: #81c784;
  font-size: 1.2rem;
}

.product-description {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #b0b0b0;
  margin-bottom: 20px;
}

.product-options {
  margin: 20px 0;
}

#color,
#quantity {
  width: 100px;
}

.product-options label {
  font-weight: bold;
  display: block;
}

.product-optionsc select,
.product-options input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.add-to-cart,
.add-to-wishlist {
  padding: 15px 30px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #388e3c;
}

.add-to-wishlist:hover {
  background-color: #ffa500;
}

.delivery {
  margin-top: 20px;
  color: #777;
  font-size: 0.9rem;
}

.product-specs {
  margin-top: 40px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  gap: 30px;
  list-style-type: none;
  border-bottom: 2px solid #333;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.tabs li {
  font-weight: bold;
  cursor: pointer;
  color: #777;
}

.specs-content p {
  font-size: 1rem;
  color: #b0b0bb;
  margin: 10px 0;
}

/* Responsividade */

@media (max-width: 768px) {
  .top-bar {
    max-width: 500px;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px;
  }

  .product-details {
    flex-direction: column;
    gap: 20px;
  }

  .product-options {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .product-gallery img,
  .product-info {
    max-width: 100%;
  }

  .tabs {
    padding: 10px 0;
  }

  .tabs li {
    display: flex;
  }
}

@media (max-width: 425px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .logo h1 {
    font-size: 0.9rem;
    width: 100px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .product-info h2 {
    font-size: 2rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .product-options {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
